<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comma.sist.message.dao.message-mapper">

 	<select id="receiveMessageAllData" parameterType="String" resultType="Message">
 		select message_send,message_text,message_time,message_check,message_no from message where message_receive=#{id}
 	</select>
 	<select id="sendMessageAllData" parameterType="String" resultType="Message">
 		select message_receive,message_text,message_time,message_check,message_no from message where message_send=#{id}
 	</select>
 	
 	<!-- 메세지 보내기 -->
 	<insert id="messageSend" parameterType="Message">
 		insert into message values((select NVL(max(message_no)+1,1) from message),#{message_send},#{message_receive},
 		#{message_text},sysdate,'n')
 	</insert>
 	<delete id="messgeDelete" parameterType="int">
 		delete from message where message_no=#{no}
 	</delete>
 	<update id="messageCheck" parameterType="String">
 		update message set message_check='y' where message_receive=#{id}
 	
 	</update>
 	
 	
</mapper>