<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="comma.sist.user.dao.UserVO" alias="User"/>
		<typeAlias type="comma.sist.guide.dao.GuideVO" alias="Guide"/>
		<typeAlias type="comma.sist.common.TextVO" alias="Text"/>
		<typeAlias type="comma.sist.tourist.dao.TouristVO" alias="Tourist"/>
		<typeAlias type="comma.sist.message.dao.MessageVO" alias="Message"/>
		<typeAlias type="comma.sist.wish.dao.WishVO" alias="Wish"/>
		<typeAlias type="comma.sist.review.dao.ReviewVO" alias="Review"/>
		<typeAlias type="comma.sist.reservation.dao.ReservationVO" alias="Reservation"/>
		<typeAlias type="comma.sist.user.dao.ZipcodeVO" alias="Zipcode"/>
		<typeAlias type="comma.sist.hotspot.HotspotVO" alias="Hotspot"/>
		<typeAlias type="comma.sist.hotspot.SearchVO" alias="Search"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<!-- 
				type = JDBC (Auto)
				type = MANAGED (수동)
						commit,rollback
			 -->
			<dataSource type="POOLED">
			<!--
				UNPOOLED => 연결요청시마다 열고닫기 반복
				POOLED	 => DBCP	=> maxActive,maxIdle,maxWait => 디폴트는 8임.
				JNDI 	 => 미리 톰캣에 만들어 놓고 연결만 하는 프로그램
			 -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@211.238.142.74:1521:ORCL"/>
				<property name="username" value="scott"/>
				<property name="password" value="tiger"/>
			</dataSource>    
		</environment>  
	</environments>  
	<mappers>    
		<mapper resource="comma/sist/common/text-mapper.xml"/>
		<mapper resource="comma/sist/user/dao/user-mapper.xml"/>  
		<mapper resource="comma/sist/guide/dao/guide-mapper.xml"/> 
		<mapper resource="comma/sist/tourist/dao/tourist-mapper.xml"/> 
		<mapper resource="comma/sist/message/dao/message-mapper.xml"/> 
		<mapper resource="comma/sist/review/dao/review-mapper.xml"/> 
		<mapper resource="comma/sist/wish/dao/wish-mapper.xml"/> 
		<mapper resource="comma/sist/reservation/dao/reservation-mapper.xml"/>
		<mapper resource="comma/sist/hotspot/hotspot-mapper.xml"/>
	</mappers> 
</configuration>
