<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comma.sist.guide.dao.guide-mapper">

	<resultMap type="Guide" id="guideList">
	  <result property="guide_no" column="guide_no"/>
	  <result property="guide_subject" column="guide_subject"/>	 
	  <result property="uservo.user_nick" column="user_nick"/>
	  <result property="textvo.text_regdate" column="text_regdate"/>
	  <result property="reservationvo.reservation_person" column="reservation_person"/> 
	  <result property="textvo.text_end" column="text_end"/>
	</resultMap>
	
	<select id="guideInfo" resultType="Guide" parameterType="int">
		select guide_no,guide_subject from guide where guide_no=#{guide_no}
	</select>
	<select id="myWishGudie" parameterType="String" resultType="Wish">
		select wish_no from wish where user_id=#{id}
	</select>
	<select id="myGuideWriter" parameterType="String" resultMap="guideList">
		select rownum guide_no,guide_subject,		
		(select text_regdate from text where text.text_no=guide.text_no) text_regdate,
		(select user_nick from users where users.user_id=guide.user_id) user_nick,
		(select sum(reservation_person) from reservation where guide.guide_no=reservation.guide_no) reservation_person,
		(select text_end from text where text.text_no=guide.text_no) text_end
		from guide where user_id='bae'
	</select>
</mapper>

