<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comma.sist.tourist.dao.tourist-mapper">
	
	<select id="myWishTorist" parameterType="String" resultType="Wish">
		select wish_no from wish where user_id='bae'	
	</select>
	<select id="myTouristWriter" parameterType="String" resultType="Tourist">
		select tour_no from tour where user_id='bae'	
	</select>
	
</mapper>
