<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comma.sist.tourist.dao.tourist-mapper">
 <!--   
   <result column="tour_no" property="touristvo.tour_no"/>	text가 기준이라서 
 -->
   
 
   <select id="tourRowCount" resultType="int">   
      SELECT COUNT(*) FROM tour
   </select>
   
<!-- 
   <insert id="textInsert1" parameterType="Text">
		insert into text values((select NVL(max(text_no)+1,1) from text),#{text_loc},#{text_cost},#{text_total_person},sysdate,
					#{text_time1},#{text_time2},#{text_move},0,'n',#{text_tour_date})
   </insert>-->

    <!-- 1.tourist 목록(5개 뽑아내기)-->
	<select id="touristFiveData" resultType="Tourist" parameterType="java.util.Map">
		SELECT tour_no,user_id,text_no,tour_theme,tour_detail,num					
		FROM (SELECT tour_no,user_id,text_no,tour_theme,tour_detail,rownum as num
				FROM (SELECT tour_no,user_id,text_no,tour_theme,tour_detail
						FROM tour ORDER BY tour_no DESC)) 
		WHERE num BETWEEN #{start} AND #{end}		
	</select>

	
	<!-- 2.user에서 데이터가져오기 -->
	<select id="touristUserData" resultType="User" parameterType="String">
		SELECT user_nick,user_img,user_sex,user_birth			
		FROM users
		WHERE user_id=#{tid}
	</select>
	
	<!-- 3.text에서 데이터 가져오기 -->
	 <select id="touristTextData" resultType="Text" parameterType="int">
		SELECT text_loc,text_cost,text_total_person,text_time1,text_time2,text_tour_date,text_move	
		FROM text
		WHERE text_no=#{tno}
	</select>

	<!-- 1.정렬하기(가격높은순) -->
	<select id="touristSortPrice" resultType="Tourist" parameterType="java.util.Map">
		SELECT tour_no,user_id,text_no,tour_theme,tour_detail,num					
		FROM (SELECT tour_no,user_id,text_no,tour_theme,tour_detail,text_cost,rownum as num
				FROM (SELECT tour_no,user_id,tour.text_no,tour_theme,tour_detail,text_cost
						FROM tour,text ORDER BY text_cost DESC)) 
		WHERE num BETWEEN #{start} AND #{end}	
	</select>
	
	<!-- 2.정렬하기(최신순) 
	<select id="touristSortNewest" resultType="Tourist" parameterType="java.util.Map">
		SELECT tour_no,user_id,text_no,tour_theme,tour_detail,num					
		FROM (SELECT tour_no,user_id,text_no,tour_theme,tour_detail,rownum as num
				FROM (SELECT tour_no,user_id,text_no,tour_theme,tour_detail
						FROM tour ORDER BY tour_no DESC)) 
		WHERE num BETWEEN #{start} AND #{end}	
	</select>-->
	
	
  <!--
   <insert id="touristInsert" parameterMap="TourList">
		insert into tour(tour_no,user_id,text_no,tour_theme,tour_detail)
		values((select NVL(max(tour_no)+1,1) from tour),
		#{user_id},(select max(text_no) as text_no from text),#{tour_theme},#{tour_detail})
   </insert>   -->
   	 

</mapper>