<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comma.sist.common.text-mapper"> 
   <resultMap type="Text" id="TextList">
     <result column="num" property="num"/>
     <result column="guide_no" property="guidevo.guide_no"/>
     <result column="guide_subject" property="guidevo.guide_subject"/>
     <result column="guide_loc_intro" property="guidevo.guide_loc_intro"/>
     <result column="guide_detail" property="guidevo.guide_detail"/>
     <result column="guide_meet" property="guidevo.guide_meet"/>
     <result column="guide_img" property="guidevo.guide_img"/>
     <result column="guide_map" property="guidevo.guide_map"/>
     <result column="guide_cost_detail" property="guidevo.guide_cost_detail"/>
     <result column="text_no" property="text_no"/>
     <result column="text_loc" property="text_loc"/>
     <result column="text_cost" property="text_cost"/>
     <result column="text_total_person" property="text_total_person"/>
     <result column="text_regdate" property="text_regdate"/>
     <result column="text_time1" property="text_time1"/>
     <result column="text_time2" property="text_time2"/>
     <result column="text_time" property="text_time"/>
     <result column="text_move" property="text_move"/>
     <result column="text_hit" property="text_hit"/>
     <result column="text_end" property="text_end"/>
     <result column="text_tour_date" property="text_tour_date"/>
     <result column="user_id" property="uservo.user_id"/>
     <result column="user_name" property="uservo.user_name"/>
     <result column="user_img" property="uservo.user_img"/>
     <result column="user_nick" property="uservo.user_nick"/>
     <result column="user_birth" property="uservo.user_birth"/>
     <result column="user_sex" property="uservo.user_sex"/>
     <result column="user_introduce" property="uservo.user_introduce"/>
     <result column="reservation_no" property="reservationvo.reservation_no"/>
     <result column="reservation_person" property="reservationvo.reservation_person"/> 
     <result column="review_no" property="reviewvo.review_no"/> 
     <result column="review_score" property="reviewvo.review_score"/> 
     <result column="review_text" property="reviewvo.review_text"/> 
     <result column="wish_no" property="wishvo.wish_no"/>
     <result column="tour_theme" property="touristvo.tour_theme"/>
     <result column="tour_detail" property="touristvo.tour_detail"/>  
     <result column="tour_no" property="touristvo.tour_no"/> 
   </resultMap>
   
   
   
   <parameterMap type="Text" id="TextList_param">
      <parameter property="guidevo.guide_no" javaType="Guide"/>
        <parameter property="guidevo.user_id"/>
        <parameter property="guidevo.guide_subject"/>
        <parameter property="guidevo.guide_loc_intro"/>
        <parameter property="guidevo.guide_detail"/>
        <parameter property="guidevo.guide_meet"/>
        <parameter property="guidevo.guide_img"/>
        <parameter property="guidevo.guide_map"/>
        <parameter property="guidevo.guide_cost_detail"/>
        <parameter property="text_no"/>
        <parameter property="text_loc"/>
        <parameter property="text_cost"/>
        <parameter property="text_total_person"/>
        <parameter property="text_regdate"/>
        <parameter property="text_time1"/>
        <parameter property="text_time2"/>
        <parameter property="text_move"/>
        <parameter property="text_hit"/>
        <parameter property="text_end"/>
        <parameter property="text_tour_date"/>
        <parameter property="uservo.user_id" javaType="User"/>
        <parameter property="uservo.user_name"/>
        <parameter property="uservo.user_img"/>
        <parameter property="uservo.user_nick"/>
        <parameter property="reservationvo.reservation_person" javaType="Reservation"/> 
        <parameter property="touristvo.tour_no" javaType="Tourist"/>
        <parameter property="touristvo.user_id"/>
        <parameter property="touristvo.text_no"/>
        <parameter property="touristvo.tour_theme"/>
        <parameter property="touristvo.tour_detail"/> 
        <parameter property="reviewvo.review_no" javaType="Review"/> 
        <parameter property="reviewvo.guide_no"/> 
        <parameter property="reviewvo.user_id"/> 
        <parameter property="reviewvo.review_score"/> 
        <parameter property="reviewvo.review_text"/> 
        <parameter property="wishvo.wish_no" javaType="Wish"/>  
        <parameter property="wishvo.user_id"/>  
        <parameter property="wishvo.tour_no"/>  
        <parameter property="wishvo.guide_no"/>
   </parameterMap>
   
</mapper>