@CHARSET "EUC-KR";

/* .image {
    position:relative;
    float:left; optional
} */
.image .text{ 
position:absolute;
background-color:#ffffff;
font-size:25px;
font-weight:bold;
top:40%; 
text-align: center;
opacity:0.5;}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}

.img-wrapper img:hover {
    transform:scale(2);
    -ms-transform:scale(2); /* IE 9 */
    -moz-transform:scale(2); /* Firefox */
    -webkit-transform:scale(2); /* Safari and Chrome */
    -o-transform:scale(2); /* Opera */
}

#main > #header_siteInto {		
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/siteInfo.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	
}
#header_siteInto p{
	margin-bottom: 0;
} 
#main > #header_korInto{
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/korInfo2.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
#header_korInto p{
	text-align: center;
	width: 30em;
}

#main > #header_guideWrite{
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/guidePage.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
