@CHARSET "EUC-KR";
.image .text{ 
position:absolute;
background-color:#ffffff;
font-size:25px;
font-weight:bold;
top:40%; 
text-align: center;
opacity:0.5;}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}

.img-wrapper img:hover {
    transform:scale(2);
    -ms-transform:scale(2); /* IE 9 */
    -moz-transform:scale(2); /* Firefox */
    -webkit-transform:scale(2); /* Safari and Chrome */
    -o-transform:scale(2); /* Opera */
}

#main > #header_siteInto {		
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/siteInfo.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	
}

#main > #header_tour1 {		
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/tour.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	
}
#header_tour1 p{
	margin-bottom: 0;
}
#header_siteInto p{
	margin-bottom: 0;
} 
#main > #header_korInto{
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/korInfo2.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
#header_korInto p{
	text-align: center;
	width: 30em;
}

#main > #mypage_back {			/* 마이페이지 */
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/tour.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	
}
#mypage_back p{
	margin-bottom: 0;
}


#main > #tourHeader{			/* 관광객 */
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/tourist_back.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
#tourHeader p{
	text-align: center;
	width: 30em;
}

#main > #header_guideList{	
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/guide_back.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin-top: -1em;
}
#header_guideList p{
	text-align: center;
	width: 30em;
}

#main > #header_guideBoard{	
	padding: 7em 14em 5em 14em ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/guide_back.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
#header_guideBoard p{
	text-align: center;
	width: 30em;
	padding: 7em 14em 5em 14em ;
}

#main > #header_guideInfo{	
	padding: 7em 14em 5em 14em ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/guide_back.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
#header_guideInfo p{
	text-align: center;
	width: 30em;
	padding: 7em 14em 5em 14em ;
}
/* #header_guideList video{
	position: absolute;
	top:0px;
	left:0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	overflow:hidden;
} */

#main > #header_guideWrite{
	padding: 7em 0 5em 0 ;		/* 상단이미지 12em 0 10em 0 ; */
	background-image: url("../../images/guidePage.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
