@CHARSET "EUC-KR";
/* 마이페이지 메뉴 테이블 */
.wrapper.style5 #mypageMenu tbody tr:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0);
}
.wrapper.style5 .mypageMenu_menu tbody tr {
    border-color: #fff;
}
#mypageMenu td:HOVER{
	background-color:#f9cc9d;
}
#mypageMenu .mypic_td:hover{
	background-color:#fff;
}
.mypageMenu_menu{
	margin:0;
}
.mypageMenu_menu .tdImg{
	margin:0;
}
/* inlcude 탭 */
.alt{
	margin-top:0.7em;
}
.alt th{
	padding: 0 0.3em;
	text-align: center;
}
.tab1{
	display:inline-block;
	height:3.5em;
	width:11em;
}
.tab2{
	display:inline-block;
	height:3.5em;
	width:10.5em;
}
.tabscontents {
	display: none; 
	border:1px solid grey; 
	position: relative; 
}
ul#tabs {
	list-style: none; /*ul안보이게*/
}
.tab1 a{
	color:#fff;
	width: 100%; 
	height: 100%; 
	display: block; 
	background-color: #000; 
	border-right: 1px solid #fff; 
	text-align: center; 
	padding: 5px;
	padding-top: 13px;
	text-decoration: none;
	border-radius : 0.3em 0.3em 0.3em 0.3em;
	-webkit-border-radius : 0.3em 0.3em 0.3em 0.3em;
	-moz-border-radius : 0.3em 0.3em 0.3em 0.3em;
}
.tab2 a{
	color:#fff;
	width: 100%; 
	height: 100%; 
	display: block; 
	background-color: grey; 
	border-right: 1px solid #fff; 
	text-align: center; 
	padding: 5px;
	padding-top: 13px;
	text-decoration: none;
	border-radius : 0.3em 0.3em 0.3em 0.3em;
	-webkit-border-radius : 0.3em 0.3em 0.3em 0.3em;
	-moz-border-radius : 0.3em 0.3em 0.3em 0.3em;
}

.active {
	color: #fff;
}

.tab1_1{
	position: relative; 
	float: left;
}
.tab2_2{
	position: relative; 
	float: left;
}

/* 원형 이미지 마스크 (url:http://blog.readiz.com/116#.VwnIPPmLTIU) */
.mypicture img{
	background-color: #333;
	height : 13em;
	width : 13em;
	border-radius : 50%;
	-webkit-border-radius : 50%;
	-moz-border-radius : 50%;
	overflow : hidden;
	vertical-align : middle;
	margin: 0 auto;	
	border: 1px solid #2e2e2e;
	display: inline-block
	
}
.mypictureGuide img{
	background-color: #333;
	height : 3em;
	width : 3em;
	border-radius : 50%;
	-webkit-border-radius : 50%;
	-moz-border-radius : 50%;
	overflow : hidden;
	vertical-align : middle;
	margin: 0 auto;	
	border: 1px solid #2e2e2e;
	display: inline-block
	
}
.mypicture{
	text-align: center;
}
.mypictureCaption{
	margin-top:2em;
	background-color: #ffffff;
	text-align: center;
}

/* 마이페이지 정보수정 테이블 */
.infomodify{
	
}
.infomodify tr{
	padding:0.5em 0.5em;
	height: 2em;
	
}

.infomodify th{
	width:6em;
	text-align: right;
	padding:0 0 0 0;
}

.infomodify td{
	width:20em;
	padding:0.5em 0.5em;
	height: 2em;
}


/*테이블 라벨 가운데위치로*/
#infomodify{
	vertical-align: none;
}

