@CHARSET "EUC-KR";

 .wrapper .inner .2u{
	text-align: right;
	text-shadow: black;
}
 /*상단 사이드 메뉴2*/
 #nav2{
	margin-top:0px;
    height:60px;
    position:fixed;
    left:0px;
    right:0px;
    background:#8080c0 url(../images/nav.png) repeat-x center left;
	opacity:0;
	z-index: 100;
    font-family: FontAwesome;
}
#nav2 ul{
    height:38px;
    list-style:none;
    margin:6px auto 0px auto;
    width:900px;   
}
#nav2 ul li{
    display:inline;
    float:left;
    margin:0px 4px;
}
#nav2 a{
    font-size:15px;
    font-weight:bold;
    float:left;/* 
    padding: 2px 4px; */
    color:#ffffff;
    text-decoration: none;
   /*  cursor: pointer; */
 /*    background:transparent url(../images/overlay.png) repeat-x center left; */
    height:35px;
   /*  line-height:35px; */
}
#nav2 a:hover{
    background:#408080 none;
    color: #fff;
}
/* 
#nav2 a.top span, #nav2 a.bottom span{
    float:left;
    width:35px;
    height:35px;
}
#nav2 a.top span{				화살표위
    background:transparent url(../images/top.png) no-repeat center center;
}
#nav2 a.bottom span{				화살표아래
    background:transparent url(../images/bottom.png) no-repeat center center;
}
 */

 
 
 
 /*사이드메뉴*/
 .g1 a:HOVER{
 font-size: 1.2em;
 }
 
#menu .box {
	border:0px;
    border-top: solid 1px rgba(0, 0, 0, 0.125);
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
    font: inherit;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    
}

#menu .box a{
	border: 0;
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
}
		
 
.side0{
	position: relative;
}
  .side1{
	position: relative;
} 
 
.image.fit.c:HOVER{
	background-color: #c0c0c0;
}

#demo{
	margin-top: 3em;
}

#wrapdetail{
	width:100%;height: 100%;position:relative;	
}

#bt{
	left:60%;border:1px solid #2e2e2e; width:5em;height:3em; 	
	margin-top:4em;
	margin-bottom:3em;
	margin-left:40%;
	margin-right:60%;
    padding: 5px;
    width:6em;
    text-align: center;
    background-color: #000;
    border: solid 1px #000;
	cursor:pointer;
	color:#fff;
}
#panel {
    padding-bottom:2em;
    display: none;
}




/* 가이드 3x3: 이미지 + 상세정보*/
.image.fit.a img{
	height: 23em;	
}
.listText{
	width:100%;
	background-color:black;
	opacity: 0.4;
	position: absolute;
	top: 55%;
	height: 10em;
}   
.listText2{
	width:100%;
	position: absolute;
	top: 55%;
	height: 10em;
	color: white;
}   
.secondTable{
	text-align: center;
	font-weight: 900; 
	color:#c0c0c0;
}
.ThirdTable{
	text-align: right;
}
.FourthTable{
	text-align: center;
}




/*guideWrite.html_테이블 이미지 길이 조정*//*guideWrite.html_테이블 이미지 길이 조정*//*guideWrite.html_테이블 이미지 길이 조정*/
.table-wrapper .alt .tabPro{				
	 width:	7em;
	height: 6em; 
}

.table-wrapper .alt .tabPro img{
	width:100%;
	height:100%
}
	
@media screen and (max-width: 980px) {			
	.table-wrapper .alt .tabPro img {
		margin-left: auto;
		margin-right: auto;
		max-width: 7em;
		width: 100%;
	}
}
}
@media screen and (max-width: 736px) {
	.table-wrapper .alt .tabPro img{
		max-width: none;
	}
}
								 			
/*가운데 정렬!!너무 확대되는 것보다 가운데 집중으로!!!*//*가운데 정렬!!너무 확대되는 것보다 가운데 집중으로!!!*/
#main .centerfit{							
	width:80%; margin:auto;
	
} 
 .guidetab{
	width: 40%;
	text-align: center; 
} 

/*메인화면 4개영역 이미지 *//*메인화면 4개영역 이미지 *//*메인화면 4개영역 이미지 *//*메인화면 4개영역 이미지 *//*메인화면 4개영역 이미지 */
.features9 {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			list-style: none;
			width: 100%;
			height: 40em;	
			padding-bottom: 3em;
			padding-top: 3em;		/*이미지4개배경높이*/
			margin-left:-5em;
		}

		.features9 li {
			display: inline-block;
			position: relative;
			text-align: left;
			width: 25% ;
			
			float:left; height:100%;
			 margin-left: -1em;
			margin-right: -1em; 
		}
	
		.innerM ul li .inner2{margin:0;position:relative;text-align:center;height:100%;} 
		.innerM ul li .inner2 img{width:100%;height:100%;display:inline-block;}		
		.innerM ul li .inner2 a{display:block;width:100%;height:100%;background:#808080;position:absolute;left:0;top:0;opacity:0.8;display:none;}
		.innerM ul li .inner2 a p{display:inline-block;width:100%;margin-top:40%;height:100%;
			font-size:40px;font-weight:700;color:#fff;border-top:1px solid #fff;}	
			
			
			@media screen and (max-width: 1024px) {		/*메인화면_이미지에있는 폰트크기 사이즈 자동 조절*/
				.innerM ul li .inner2 a p  {
					font-size:3.2em;
				}
				.features9{
					margin-left:-5em;
				}
			}
			@media screen and (max-width: 960px) {		/*메인화면_이미지에있는 폰트크기 사이즈 자동 조절*/
				.innerM ul li .inner2 a p  {
					font-size:1.2em;
				}
			}	
			@media screen and (max-width: 736px) {		/*메인화면_이미지에있는 폰트크기 사이즈 자동 조절*/
				.innerM ul li .inner2 a p  {
					font-size:0.8em;
				}
			}													
		
/*메인화면 4개영역 이미지 *//*메인화면 4개영역 이미지 *//*메인화면 4개영역 이미지 *//*메인화면 4개영역 이미지 *//*메인화면 4개영역 이미지 */


.wrapper.widthsiz{
		padding: 1em 0 2em 0 ;
	}
	




/* banner1 *//* banner1 *//* banner1 *//* banner1 *//* banner1 *//* banner1 *//* banner1 *//* banner1 *//* banner1 */

	/* banner1 */

	#banner1 {											/*제목관련 된 것들의 공통 부분*/
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		cursor: default;
		height: 10vh;
		min-height: 10em;
		overflow: hidden;
		position: relative;
		text-align: center;
	}

		#banner1 h2 {										/*1.'제목' 애니메이션 효과*/
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			padding: 0.35em 1em;
			position: relative;
			z-index: 1;
		}

			#banner1 h2:before, #banner1 h2:after {			/*1.'제목' 앞,뒤에 붙는 가상의 것의 애니메이션 효과 */
				-moz-transition: width 0.85s ease;
				-webkit-transition: width 0.85s ease;
				-ms-transition: width 0.85s ease;
				transition: width 0.85s ease;
				-moz-transition-delay: 0.25s;
				-webkit-transition-delay: 0.25s;
				-ms-transition-delay: 0.25s;
				transition-delay: 0.25s;
				background: #fff;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
			}

			#banner1 h2:before {							/*1.'제목'상단 줄*/
				top: 0;
				left: 0;
			}

			#banner1 h2:after {							/*1.'제목'하단 줄*/
				bottom: 0;
				right: 0;
			}



		#banner1 p {												/*2.제목아래글*/
			letter-spacing: 0.225em;
			text-transform: uppercase;
		}

		#banner1 .more {											/*4.'learn more'(스크롤)버튼*/
			-moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
			-webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
			-ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
			transition: transform 0.75s ease, opacity 0.75s ease;
			-moz-transition-delay: 3.5s;
			-webkit-transition-delay: 3.5s;
			-ms-transition-delay: 3.5s;
			transition-delay: 3.5s;
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			border: none;
			bottom: 0;
			color: inherit;
			font-size: 0.8em;
			height: 8.5em;
			left: 50%;
			letter-spacing: 0.225em;
			margin-left: -8.5em;
			opacity: 1;
			outline: 0;
			padding-left: 0.225em;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 16em;
			z-index: 1;
		}

			#banner1 .more:after {								/*4.'learn more'(스크롤) 화살표 모양*/
				background-image: url("images/arrow.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				bottom: 4em;
				content: '';
				display: block;
				height: 1.5em;
				left: 50%;
				margin: 0 0 0 -0.75em;
				position: absolute;
				width: 1.5em;
			}

		#banner1:after {										/*제목배너 전체*/
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			-moz-transition: opacity 3s ease-in-out;
			-webkit-transition: opacity 3s ease-in-out;
			-ms-transition: opacity 3s ease-in-out;
			transition: opacity 3s ease-in-out;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;			/*1.25초뒤에 재생*/
			content: '';
			background: #2e3842;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}		
		@media screen and (max-width: 736px) {

			#banner1 {
				padding: 7em 3em 5em 3em ;
				height: auto;
				min-height: 0;
			}

				#banner1 h2 {
					font-size: 1.25em;
				}

				#banner1 br {
					display: none;
				}

				#banner1 .more {
					display: none;
				}

		}


/*로그인팝업페이지*//*로그인팝업페이지*//*로그인팝업페이지*//*로그인팝업페이지*//*로그인팝업페이지*/
	.white-popup{
	  position: relative;
	  background: #004080;
	  padding: 20px;
	  width:auto;
	  max-width: 500px;
	  margin: 20px auto;
	  border-radius: 3px;
	}
	
	.white-popup h1{
		text-align: center;
	}
	
	.id2{
		
	}
/*로그인팝업페이지*//*로그인팝업페이지*//*로그인팝업페이지*//*로그인팝업페이지*//*로그인팝업페이지*/

#banner1 {											
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		cursor: default;
		height: 50vh;						/*메인 제목 높이 줄임*/
		min-height: 15em;					/*메인 제목 높이 줄임*/
		overflow: hidden;
		position: relative;
		text-align: center;
	}

		#banner1 h2 {										
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			padding: 0.35em 1em;
			position: relative;
			z-index: 1;
		}

			#banner1 h2:before, #banner1 h2:after {			/* 1.'제목' 앞,뒤에 붙는 가상의 것의 애니메이션 효과 */
				-moz-transition: width 0.85s ease;
				-webkit-transition: width 0.85s ease;
				-ms-transition: width 0.85s ease;
				transition: width 0.85s ease;
				-moz-transition-delay: 0.25s;
				-webkit-transition-delay: 0.25s;
				-ms-transition-delay: 0.25s;
				transition-delay: 0.25s;
				background: #fff;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
			}

			#banner1 h2:before {							/* 1.'제목'상단 줄 */
				top: 0;
				left: 0;
			}

			#banner1 h2:after {							/* 1.'제목'하단 줄 */
				bottom: 0;
				right: 0;
			}



		#banner1 p {												/* 2.제목아래글 */
			letter-spacing: 0.225em;
			text-transform: uppercase;
		}

		#banner1 .more {										/* 	4.'learn more'(스크롤)버튼 */
			-moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
			-webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
			-ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
			transition: transform 0.75s ease, opacity 0.75s ease;
			-moz-transition-delay: 3.5s;
			-webkit-transition-delay: 3.5s;
			-ms-transition-delay: 3.5s;
			transition-delay: 3.5s;
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			border: none;
			bottom: 0;
			color: inherit;
			font-size: 0.8em;
			height: 8.5em;
			left: 50%;
			letter-spacing: 0.225em;
			margin-left: -8.5em;
			opacity: 1;
			outline: 0;
			padding-left: 0.225em;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 16em;
			z-index: 1;
		}

			#banner1 .more:after {								/* 4.'learn more'(스크롤) 화살표 모양 */
				background-image: url("images/arrow.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				bottom: 4em;
				content: '';
				display: block;
				height: 1.5em;
				left: 50%;
				margin: 0 0 0 -0.75em;
				position: absolute;
				width: 1.5em;
			}

		#banner1:after {									/* 	제목배너 전체 */
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			-moz-transition: opacity 3s ease-in-out;
			-webkit-transition: opacity 3s ease-in-out;
			-ms-transition: opacity 3s ease-in-out;
			transition: opacity 3s ease-in-out;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;		/* 	1.25초뒤에 재생 */
			content: '';
			background: #2e3842;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}		
		@media screen and (max-width: 736px) {

			#banner1 {
				padding: 7em 0em 5em 0em ;
				height: auto;
				min-height: 0;
			}

				#banner1 h2 {
					font-size: 1.25em;
				}

				#banner1 br {
					display: none;
				}

				#banner1 .more {
					display: none;
				}

		}

	body.is-loading #banner1 h2 {
		-moz-transform: scale(0.95);
		-webkit-transform: scale(0.95);
		-ms-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}

		body.is-loading #banner1 h2:before, body.is-loading #banner1 h2:after {
			width: 0;
		}

	body.is-loading #banner1 .more {
		-moz-transform: translateY(8.5em);
		-webkit-transform: translateY(8.5em);
		-ms-transform: translateY(8.5em);
		transform: translateY(8.5em);
		opacity: 0;
	}

	body.is-loading #banner1:after {
		opacity: 1;
	}
	
	
/* body.is-mobile.landing #banner1, */
	body.is-mobile.landing .wrapper.style4 {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner1.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner1.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner1.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner1.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	} 
	
	
	/*                      */
	
	/* banner1 + Wrapper (style4) */

	#banner1,
	.wrapper.style4 {
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}

		#banner1:before,
		.wrapper.style4:before {
			display: none;
		}

/* banner1 */
	#banner1 .more {
		height: 4em;
	}

		#banner1 .more:after {
			display: none;
		}
		
		
		/* #banner1, */
	.wrapper.style4 {
		background-image: url("../../images/banner1.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
 
		#banner1:before, 
		.wrapper.style4:before {
			background: #000000;
			content: '';
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100%;
		}

		#banner1 .inner,
		.wrapper.style4 .inner {
			position: relative;
			z-index: 1;
		}

/* banner1 */

	#banner1 {
		 padding: 4em 0 2em 0 ;
		height: auto;
	}

		#banner1:after {
			display: none;
		}