.tabControlTab {
	cursor: pointer;
}

.tabControlBodys li {
	display: none;
}

.tabControlBodys li.selected {
	display: block;
}

body {
	margin: 0px;
	padding: 0px;
} /**/
ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	/* font-size: 12px; */
} /**/
#tabControlWrap { /* width:500px; */
	height: 25em;
} /**/
.tabControlTabs {
	float: left;
	height: 100%
} /**/
.tabControlTab {
	background-color: #F5F4EF;
	color: #412219;
	width: 100%;
	height: 10%;
	vertical-align: middle;	
}

.tabControlTab p{
	vertical-align: middle;		
	text-align: center;
	font-size: 15px;
	padding: 0.45em 0.35em;
	
}
.tabControlTab p span{
	background-color: #ffbd0b;
	text-align:center;
	color:#fff;
	border-radius:0.2em;
	
}


.tabControlTabs .selected {
	background-color: #BAB6A8;
	color: #fff;
	font-weight: bold;
}
.tabControlTabs .odd:hover{
	background-color: #BAB6A8;
	color: #fff;
	font-weight: bold;
}
.tabControlTabs .even:hover{
	background-color: #89867C;
	color: #fff;
	font-weight: bold;
}
.tabControlBodys {
	height: 100%;
}

.tabControlBody {
	width: 100;
	height: 100%;
	line-height: 1.075em;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color: #BAB6A8;
}

.tabControlBody p {
	height: 10%;
	margin: 0;
	padding: 0.45em 0.45em;
	font-size: 15px;
	font-weight: lighter;
}